/* Place custom styles here, scoped by the CSS id '#book' */
/* To sync up PDF styles, edit custom.sty */
/* Google for "LaTeX style files" to learn how to use custom.sty */

/*

body #book {
  background: green;
}

#book p {
  color: purple;
}

*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,800,900,700,600,500);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic);

#book {
  margin-left: 10% !important;
  margin-right: 10% !important;
  width: 75% !important;
}

#book a.heading {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase !important;
  
}

body #book , #table_of_contents a{
  font-size: 21px;
font-family: Noto Serif, georgia, serif;
color: #333;
line-height: 2em;
}

#book .title, .subtitle {
text-align: center;
font-size: 220%;
color: #222 !important;
font-family: Raleway, sans-serif;
text-transform: uppercase !important;


}

#book #table_of_contents a {
  font-weight: 600;
  font-family: Raleway, sans-serif;
  text-transform: initial !important;  
  
}

#book h1, h1 a , h2, h2 a, h3, h3 a, h4, h4 a, .aside .heading {
  font-weight: 700;
  font-family: Raleway, sans-serif;
  color: #222 !important;
  text-transform: uppercase !important;
  
}

a {
  color: #222 !important;
}

#book h3 {
  font-size: 120%;
}

#book code {
  font-size: 80%;
  color: rgb(242, 70, 4);
  font-family: Helvetica, sans-serif;
}

#book #table_of_contents ul li {
padding-left: 1em;
}

#book .number {
margin-right: 0.2em;
}

#book pre {
white-space: pre-wrap;
}